{% extends 'base.html' %}
{% block content %}

<h1 class="text-center ">Зареєструватися</h1>
        <div class="jumbotron text-center" style="height:100%; align-content: center; background-color: rgb(250, 249, 246);" >
          
            <div class="form-group">
                <form class="formss" action="register" method="post">
                {% csrf_token %}
                 <div class="form-group">
                            
           
            
                 {% for message in messages %}
                 <div class="alert alert-danger">
                 {{message}}
                 </div>
                 {% endfor %}
                    
                    <input type="text" class="form-control" name="username" placeholder="Full Name" required>
                  </div>
                  <div class="form-group">
                    
                    <input type="email" class="form-control" name="email" placeholder="Email address" required>
                  </div>
                  <div class="form-group">
                   
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                  </div>
                  <div class="form-group">
                   
                    <input type="password" class="form-control" name="password1" placeholder="Confirm Password" required>
                  </div>
                  <button type="submit" class="btn btn-success">Прийняти</button>
                </form> 
              
          </div>  
          
        </div>
{% endblock %}