{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.container-fluid{
width: 90%;
margin: auto;
}
.container-fluid .title{
border-bottom: 1px solid #d9dadc;
padding: 25px 0 10px;
margin-bottom: 10px;
}
a{
background: #AAA4AC;
margin: 1rem 0;
padding: .1rem .5rem;
text-decoration: none;
color: white;
border-bottom: 1px solid #e1e1e2;
}
a:hover{
color: white;
background: #cecccf;
}
table{
margin: 2rem 0;
}
button{
border: none;
}
button a{
background: #212529;
color: white;
}
button a:hover{
background: #414952;
}
</style>

<div class="container-fluid">
  <div class="title">
    <h3>Paid Parking App</h3>
  </div>
  <h6>Fare: 0.5 $ per minute</h6>
  <div style="justify-content: space-between; display: flex;">
    <a href="{% url 'cars_list' %}">View Residents</a>  
    <a href="{% url 'ticket_create' %}"><i class="fas fa-plus"></i> Create ticket</a>
  </div> 
  <table class="table">        
    <thead>      
      <tr> 
        <th scope="col">License Plate</th>
        <th scope="col">Check In Time</th>
        <th scope="col">Check Out Time</th>
        <th scope="col">Time Spent</th>
        <th scope="col">Total Due</th>
      </tr>
    </thead>
    
    <tbody>        
      {% for ticket in object_list %}
      <tr>
        <th scope="row">{{ticket.license_plate}}</th>
        <td>{{ticket.checkin_time}}</td>
        <td>{{ticket.checkout_time}}</td>
        <td>{{ticket.time_spent}}</td>
        <td>$ {{ticket.total_due}}</td>
        {% if ticket.checkout_time == None  %}        
          <td><button><a href="{% url 'ticket_out' ticket.id %}">Finish</a></button></td>
        {% endif %}  
      </tr> 
    {% endfor %}     
    </tbody>
      
  </table>
</div>
{% endblock %}