<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td><a routerLink="/editBook/{{ book.id}}" class="btn btn-info">Edit</a>
                        <button (click)="deleteBook(book)"> <i class="material-icons">delete</i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>